#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: danielortiz # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDIXAysWv+XYKgCrFyGqyg1M7RiBGaYvLSvPIKXJZCnRzFS9U36y/MrikAKFWx/k1wOOjfMYUWrqCXj2GUXoUGlmJooPYfM0Sq21JEaX925/TUCJSQw2FwJKvlnttjENZ1TbiA/XTLf5AAaYuGcZZOHogZPCcOLC/8F1yogHQRG78myWkenPtMkcTDA5E7ILQJEIXH7SN9m6WXF9dD+PCwJP3KNuFLyLnww27hhk/5YSZPbEBlUAdLwVyqbs7IX0E4vdr1iD/TW7HrpAubU95KIueynRC6/P8QqvWSqZsvbP9Y40jFmx9lQMr6ln3wbSISoxafgYXUS3wQWyifyegsIdmXtH+W7TM27+KsLZe1QTmPJ/evexRbY5kUaz25bf5LDniKgTXhhnMGzdOX2fbiEeB3THwMhcpNlRdrzjz74TlU5TqUVAkotqoVTfP4QOvKc9n8wsf+PeqI667lgC+ESGAhgt/jQssdQ1WcKDUhzmoJg6Wk7AXIFmeFR0ZCF6N0= danielortiz@danielortiz-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
